/* https://codepen.io/HunorMarton/pen/xxOMQKg */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  text-align: center;
  margin: 0 5px;
  padding: 0 5px;
}

#stats {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 30px;
  right: 30px;
  color: white;
}

#score,
#hiscore {
  position: relative;
  font-size: 2em;
  font-weight: 900;
  color: white;
}

#introduction {
  color: white;
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  color: white;
  opacity: 0;
  transition: opacity 2s;
}
