@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-image: linear-gradient(180deg,#CCB79C, #3B3224) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.right{
  margin-left: 0px !important;
  padding-right: 100px !important;
}

.left{
  margin-right: 0px !important;
  padding-left: 100px !important;
}

.subcontent {
  padding: 40px 10px;
}

.subcontent p{
  text-align: center;
  line-height: 2;
  font-size: 20px;
}

.subcontent:nth-child(odd){
  background-color: #3b3224;
}
.subcontent:nth-child(even){
  background-color: #5a4d38;
}

.subcontent:first-child{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
  background-color: unset;
}

.subcontent:first-child .main-content-image img{
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-left: 0px;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.subcontent-title{
  font-size: 50px;
  text-align: center;
  padding: 20px 20px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: 'Silkscreen';
  width: fit-content;
  -webkit-box-shadow: 0px 5px 12px 5px rgb(0 0 0 / 20%);
  -ms-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 12px 5px rgb(0 0 0 / 20%);
}

.subcontent:nth-child(odd) .subcontent-title{
  background-color: #ccb79c;
  color: #3b3224;
}

.subcontent:nth-child(even) .subcontent-title{
  color: #fff;
  background-color: #3b3224;
}

.subcontent .story {
  padding: 10px 0;
  text-align: center;
  margin: auto;
  max-width: 700px;
  overflow-wrap: break-word;
}

.subcontent .story p{
  padding: 10px 0;
  text-align: justify;
  text-shadow: 0 0 10px #3b3224;
}

.subcontent .about-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subcontent .about-row p{
  font-size: unset;
  text-align: justify;
}

.subcontent .about-row h1{
  font-family: 'Silkscreen'
}

.subcontent .about-column {
  flex-grow: 1;
  padding: 1rem;
  width: 50%;
  margin: 10px;
  max-width: 400px;
  vertical-align: center;
}

.subcontent .about-column img{
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  transition: all .5s ease-in-out;
}

.subcontent .about-column img:hover{
  transform: scale(1.05);
  filter: drop-shadow(3px 9px 15px rgba(0,0,0,0.85));
}

.google-dict-interface {
    text-align: center;
}

.header{
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.google-dict-interface .searchbar{
  position: relative;
  background: rgb(28, 28, 33);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 16%) 0px 2px 2px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  height: 44px;
  line-height: 44px;
  padding: 0px 16px;
  font-size: 16px;
  font-family: arial, "Roboto Light", Noto, sans-serif;
  font-weight: 400;
  font-feature-settings: initial;
  color: rgb(191, 191, 191);
  margin: 16px auto;
  text-align: left;
  max-width: 512px;
  width: 100%;
}

.google-dict-interface .searchbar-buttons{
  position: absolute;
  top: 6px;
  right: 10px;
}

.google-dict-interface .searchbar-text{
  display: inline-block;
  width: 90%;
  cursor: text;
}

.searchbar-buttons svg{
  width: 24px;
  height: 24px;
  margin: 0 0 0 5px;
  color: #9aa0a6;
  cursor: pointer;
}

.search-results{
  box-shadow: rgb(0 0 0 / 16%) 0px 2px 2px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  font-family: arial, sans-serif;
  font-feature-settings: initial;
  background: rgb(28, 28, 33);
  padding: 16px;
  margin: 16px 0px;
  color: rgb(191, 191, 191);
  border-radius: 2px;
  text-align: left;
  max-width: 512px;
  width: 100%;
  display: inline-block;
}

.search-results h1, .search-results h3{
  font-size: 32px;
  font-weight: 400;
  margin: 0px;
}

.search-results h3{
  font-size: 18px;
  position: relative;
}

.search-results h3 svg {
    position: absolute;
    left: 80px;
    cursor: pointer;
}

.search-results .adjective{
  padding-top: 10px;
  font-style: italic;
  font-size: 13px;
}

.search-results .definition{
  display: block;
  margin-left: 0px;
  padding: 10px 0 0 20px;
  font-size: 13px;
  font-weight: 400;
}

.search-results .definition:not(.definition:nth-child(2)) {
  margin-left: 30px;
  padding-left: 0;
}

.search-results .definition:not(.definition:nth-child(2))::before {
  content: "•";
  position: absolute;
  left: 15px;
}

.adjective, .example{
  color: #9aa0a6;
}

.synonyms{
  display: flex;
}

.synonyms span:first-child{
  margin-right: 3px;
  font-style: italic;
}

.music-interface-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 30px auto 0;
}

.music-interface{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  width: 300px;
  height: auto;
}

.album-cover {
  overflow: hidden;
  position: relative;
  height: 410px;
  pointer-events: none;
}

.album-cover .image{
  background-size: cover !important;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  height: 300px;
  width: 300px;
}

.album-cover svg {
  position: absolute;
  top: 140px;
  left: 100px;
  z-index: 2;
  filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.85));
  transition: all .2s ease-in-out;
}

.album-cover svg:hover{
  transform: scale(1.1);
}

.album-cover:hover{
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.album-cover > svg{
  pointer-events: auto;
}

.album-cover .play-end-modal{
  position: absolute;
  top: 20px;
  z-index: 3;
  font-size: 10px;
  text-shadow: 1px 1px 10px #000;
}

.album-cover .image:after{
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}

.album-cover .wave{
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -70%;
  margin-top: -130%;
  background: radial-gradient(#353535, #383737);
}

.album-cover .wave:nth-child(2),
.album-cover .wave:nth-child(3){
  top: 10px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}
/* when stop */
.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}
/* when stop */
.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}
/* when stop */
.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.album-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  padding: 0 10px 10px;
  overflow: hidden;
}

.album-info .title {
  font-size: 1.4em;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.album-info .artist {
  color: #cfcfcf;
  font-size: 1.2em;
  margin-top: -10px;
}

.album-info p {
    line-height: unset;
    font-size: 12px;
    color: #000;
    margin-top: 0px;
}

.listen-full{
  margin: auto;
  margin-bottom: 10px;
}

.main-content-children {
  padding: 1rem;
  /* width: 50%; */
  margin: auto;
  min-width: 400px;
  text-align: left;
  font-family: 'Poppins';
  vertical-align: middle;
}

.main-content-children h1{
  font-family: 'Roboto';
  font-size: 60px;
  margin: 0;
}

.main-content-children p{
  margin-top: 0px;
  text-align: left;
}

.main-content-buttons {
  display: flex;
  padding: 1rem 0rem;
  padding-top: 0px;
  justify-content: center;
}

.main-content-buttons li a{
  display: block;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 10px;
  min-width: 120px;
  min-height: 50px;
  text-align: center;
  background-color: #3b3224;
  border-radius: 50px;
  border: 3px #cbb69b;
  border-style: solid;
  /* transition: 0.2s ease; */
}

.main-content-buttons li a:hover{
  color: white;
  background-color: #c8b4994d;
  /* transform: scale(1.05); */
}

.scroll-zoom-in{
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.scroll-fade-in {
  opacity:0;
  /* visibility: hidden; */
  -webkit-transition: visibility 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* media queries */

@media (max-width: 645px){
  .main-content-buttons li a{
    font-size: 0px;
    min-width: 50px;
  }
}

@media (max-width: 847px){
  .about-column {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .about-row .scroll-zoom-in{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .about-column h1{
    text-align: center;
  }
}

@media (max-width: 1067px){
  .main-content {
    height: 900px;
  }
  .left{
    margin-right: auto !important;
    margin-top: 50px;
    padding: 0px 100px !important;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .right{
    margin-left: auto !important;
    margin-bottom: 50px;
    padding: 0px 100px !important;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .main-content-image {
    height: auto;
    margin: auto;
  }
  .main-content-children h1{
    text-align: center;
  }
  .main-content-children p{
    text-align: center;
  }
  .main-content-children h5{
    text-align: center;
  }
  .main-content-buttons li a{
    margin-left: 10px;
    margin-right: 10px;
  }
}
