@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-image: linear-gradient(180deg,#CCB79C, #3B3224) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.right{
  margin-left: 0px !important;
  padding-right: 100px !important;
}

.left{
  margin-right: 0px !important;
  padding-left: 100px !important;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: center;
  padding-bottom: 0;
}

.main-content-image img{
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-left: 0px;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.main-content-children {
  padding: 1rem;
  /* width: 50%; */
  margin: auto;
  min-width: 400px;
  text-align: left;
  font-family: 'Poppins';
  vertical-align: middle;
}

.main-content-children h1{
  font-family: 'Roboto';
  font-size: 60px;
  margin: 0;
}

.main-content-children p{
  margin-top: 0px;
}

.main-content-buttons {
  display: flex;
  padding: 1rem 0rem;
  padding-top: 0px;
  justify-content: center;
}

.main-content-buttons li a{
  display: block;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 10px;
  min-width: 120px;
  min-height: 50px;
  text-align: center;
  background-color: #3b3224;
  border-radius: 50px;
  border: 3px #cbb69b;
  border-style: solid;
  /* transition: 0.2s ease; */
}
.main-content-buttons li a:hover{
  color: white;
  background-color: #c8b4994d;
  /* transform: scale(1.05); */
}

.main-features {
  margin: 0;
  display: block;
  background-color: #3b3224;
  padding-top: 25px;
}


.feature-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-row:first-child {
    padding-top: 75px;
}

.feature-row:last-child{
  padding-bottom: 75px;
}

.feature-column{
  flex-grow: 1;
  padding: 1rem;
  width: 50%;
  margin: 10px;
  max-width: 400px;
  vertical-align: center;
}

.feature-column h1{
  font-family: 'Silkscreen'
}

.feature-column p{
  text-align: justify;
}

.feature-column-image img{
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  transition: transform .5s ease;
}

.feature-column-image img:hover{
  transform: scale(1.05);
}

.featured-video {
  padding-top: 50px;
  margin: auto;
}

.featured-video h1{
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
}

.main-links {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  padding-top: 6rem;
  max-width: 1200px;
  margin: 0 auto;
}

.link-container {
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  background-color: #272928;
  white-space: normal;
  transition: transform 0.5s ease;
}

.link-empty-child {
  width: 500px;
  margin: 0px 20px;
  padding: 0px 20px;
  height: 0px;
}

.link-container:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.link-container h1{
  font-family: 'Poppins';
  margin-top: 0;
  font-size: 20px;
}

.link-container p{
  color: darkgrey;
  font-size: 13px;
}

.link-button {
  margin: auto;
  padding: 8px;
  background-color: hotpink;
  border-radius: 10px;
  font-family: 'Poppins';
  text-align: center;
  font-size: 12px
}

.link-container a:hover{
  color: white;
}

.link-button:hover{
  background-color: deeppink;
}

/* @media (max-width: 640px){
  .main-content {
    height: 900px;
  }
} */

@media (max-width: 635px){
  .main-content-buttons li a{
    font-size: 0px;
    min-width: 50px;
  }
}

@media (max-width: 847px){
  .feature-row:not(:first-child):not(:last-child) .feature-column:last-child{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .feature-row:not(:first-child):not(:last-child) .feature-column:first-child{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .feature-column h1{
    text-align: center;
  }
  .feature-row:first-child .feature-column:first-child{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .feature-row:first-child .feature-column:last-child{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}

@media (max-width: 1067px){
  .main-content {
    height: 900px;
  }
  .left{
    margin-right: auto !important;
    margin-top: 50px;
    padding: 0px 100px !important;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .right{
    margin-left: auto !important;
    margin-bottom: 50px;
    padding: 0px 100px !important;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .main-content-image {
    height: auto;
    margin: auto;
  }
  .main-content-children h1{
    text-align: center;
  }
  .main-content-children p{
    text-align: center;
  }
  .main-content-children h5{
    text-align: center;
  }
  .main-content-buttons li a{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.story-content {
  text-align: center;
  margin: auto;
  padding: 150px 0px;
  max-width: 800px;
  overflow-wrap: break-word;
}

.story-text {
  font-size: 20px;
  padding: 10px 30px;
  text-align: justify;
  line-height: 2;
}

.scroll-animation{
  font-size: 50px;
  padding: 20px 20px;
  margin: 30px auto;
  border-radius: 20px;
  background-color: #3b3224;
  font-family: 'Silkscreen';
  width: fit-content;
  -webkit-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
}

.scroll-zoom-in{
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.scroll-fade-in {
  opacity:0;
  visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.carousel-content{
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.swiper {
   width: 950px;
}

.carousel-card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #cbb69b;
}

.carousel-card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.carousel-card {
  position: relative;
  color: #3b3224;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.carousel-card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #3b3224;
    border-radius: 20px 20px 0 0;
}

.carousel-card .carousel-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}


.carousel-card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.carousel-card .media-icons i:hover{
  opacity: 1;
}

.carousel-card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.carousel-card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.carousel-card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #3b3224;
}

@media (max-width:960px){
  .featured-video{
    display: none;
  }
}
