@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size: 100%;
  /* min-width: 400px; */
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #17141d; */
  color: white;
  font-family: 'Poppins';
}

body::-webkit-scrollbar {
  width: 8px;
  background-image: linear-gradient(180deg,#CCB79C, #3B3224);
}

body::-webkit-scrollbar-thumb {
  background-color: #3b3224;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(35, 38, 36, 1); */
  color: white;
  padding: 2% 2% 1% 2%;
  font-family: 'Silkscreen';
  transition: .3s ease-in-out;
}

.nav-bar img{
  display: block;
  height: auto;
  width: 100%;
}

.nav-bar-img {
  display: flex;
  margin: auto;
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.nav-bar-img h1{
  white-space: nowrap;
  margin: auto;
  padding-left: 1.5rem;
}

.nav-bar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar-links li a{
  padding: 1rem;
  display: block;
}

.nav-bar-links li a:hover{
  /* cursor: pointer; */
  color: #9d8158;
}

.nav-bar-toggle{
  position: absolute;
  top: 25px;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-bar-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.sticky{
  position: sticky;
  top: 0px;
  z-index: 9999;
  transition: .3s ease-in-out;
  padding: 0 2%;
  background: #3b3224;
  box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .main-content-children {
    text-align: center;
  }
  .sticky .nav-bar-toggle{
    top: 16px;
  }
  .nav-bar{
    background-color: #3b3224;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-bar-toggle{
    display: flex;
    transition: all .3s ease-in-out;
  }
  .nav-bar-links {
    display: none;
    width: 100%;
  }

  .nav-bar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-bar-links li {
    text-align: center;
  }

  .nav-bar-links li a {
    padding: .5rem 1rem;
  }

  .nav-bar-links.active {
    display: flex;
  }
}
.overlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}

.overlay-text {
  position: relative;
  top: 10px;
  font-family: 'Poppins';
  font-size: 15px;
}

.preview:hover .overlay{
  opacity: 0.85;
}

/* Footer */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 70px; */
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  background: #242424;
  font-family: 'Silkscreen';
}

.footer-information {
  padding: 20px;
  margin: auto;
}

.footer-information p{
  font-family: 'Poppins';
  color: darkgrey;
  font-size: 12px;
}

.back-to-top-button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.back-to-top-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.back-to-top-button:hover {
  cursor: pointer;
  background-color: #333;
}
.back-to-top-button:active {
  background-color: #555;
}

.share-button{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.button-show {
  opacity: 1;
  visibility: visible;
}

/* Loader */
.loading-page{
  text-align: center;
  padding:0;
  margin:0;
  width:100%;
  height:100vh;
  background-image: linear-gradient(180deg,#CCB79C, #3B3224);
}

.loading-wrapper{
  width:360px;
  height:130px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.loading-wrapper span{
  position: absolute;
  top: 187px;
  font-family: 'Silkscreen';
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 0;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.8)
}

.loading-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 72' id='emoji' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='color'%3E%3Cpolygon fill='%239B8468' points='10,21 10,35 13,35 13,38 16,38 16,45 22,45 22,51 27,51 28,51 28,45 44,45 44,51 50,51 50,45 56,45 56,38 59,38 59,35 62,35 62,20 56,20 56,24 56,25 49,25 49,20 45,20 45,14 39,14 39,20 32,20 32,14 26,14 26,20 22,20 22,25 16,25 16,20 10,20'/%3E%3Crect x='16' y='51' width='6' height='6' fill='%239B8468'/%3E%3Crect x='50' y='51' width='6' height='6' fill='%239B8468'/%3E%3C/g%3E%3Cg id='line'%3E%3Crect x='25.175' y='31' width='3.6' height='6' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='22,45 16,45 16,39'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='22.583,25 22.583,20 26,20'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='48.708,25 48.708,20 45.292,20'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='13,35 10,35 10,20 16,20 16,35'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='56,35 56,20 62,20 62,35 59,35'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='26,20 26,14 32,14 32,20'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='39,20 39,14 45,14 45,20'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='16,35 19,35 19,38 13,38 13,35'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='59,35 59,38 53,38 53,35 56,35'/%3E%3Crect x='16' y='51' width='6' height='6' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Crect x='50' y='51' width='6' height='6' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='28,45 28,51 22,51 22,45'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='50,45 56,45 56,39'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='44,45 44,51 50,51 50,45'/%3E%3Crect x='43.425' y='31' width='3.6' height='6' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M44,45L44,45z'/%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M39,20L39,20z'/%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16,25L16,25z'/%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M49,25L49,25z'/%3E%3Cline x1='28' x2='44' y1='45' y2='45' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cline x1='32' x2='39' y1='20' y2='20' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cline x1='16' x2='22' y1='25' y2='25' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cline x1='49' x2='56' y1='25' y2='25' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  transform-origin: 50%;
  animation: alien .5s alternate infinite ease;
}

@keyframes alien{
    0%{
        top:130px;
        transform: scale(1.7, 0.5);
    }
    20%{
        transform: scaleY(1);
    }
    100%{
        top:0%;
    }
}

.loading-icon:nth-child(2){
    left:21.528%;
    animation-delay: .2s;
}
.loading-icon:nth-child(3){
    left:43.056%;
    animation-delay: .3s;
}
.loading-icon:nth-child(4){
    left:64.583%;
    animation-delay: .4s;
}
.loading-icon:nth-child(5){
    left:86.111%;
    animation-delay: .5s;
}

.loading-shadow {
  width: 50px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:155px;
  transform-origin: 50%;
  z-index: -1;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    /* 40%{
        transform: scaleX(1);
        opacity: .7;
    } */
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}

.loading-shadow:nth-child(7){
    left:21.528%;
    animation-delay: .2s;
}
.loading-shadow:nth-child(8){
    left:43.056%;
    animation-delay: .3s;
}
.loading-shadow:nth-child(9){
    left:64.583%;
    animation-delay: .4s;
}
.loading-shadow:nth-child(10){
    left:86.111%;
    animation-delay: .5s;
}
.infinitely-loading{
    display: none;
    position: absolute;
    left: 50%;
    bottom: 3%;
}
.infinitely-loading span{
  position: relative;
  left: -50%
}
.infinitely-loading a{
  color: #d9bb8d;
  text-decoration: underline;
}
