:root{
  --swiper-theme-color: #3b3224;
}

.swiper-body{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper{
  padding-bottom: 30px;
}

.swiper-body section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper{
  width: 950px;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding 3px;
  background: #cbb69b;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  height: auto;
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.card::before{
  content: '';
  position: absolute;
  height: 40%;
  width: 100%;
  background: #3b3224;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #3b3224;
}

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size: 15px;
  font-weight: 600;
}

.card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #3b3224;
}

.swiper-media-disabled {
    cursor: not-allowed;
}

.media-icons .swiper-media-disabled i:hover{
    opacity: 0.6;
}

.swiper-container {
  width: 375px;
}

.swiper-slide-shadow-right, .swiper-slide-shadow-left {
    border-radius: 20px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 950px) {
  .swiper-container {
    width: 950px;
  }
}
